/* NAVBAR */
.dropdown-list .dropdown-item .dropdown-item-desc {
    margin-left: 10px;
}

/* ADDRESS */
.form-group textarea#address {
    height: 90px;
    resize: none;
}
ul#myTab4 {
    position: sticky;
    top: 10px;
}